{% extends 'cc.html' %}
{% load static %}
{% block title %}Home{% endblock %}


{% block extra_head_extended %}
<style>
    td {
        padding: 10px 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: large;
    }

    td input {
        width: 150px;
    }

    .input {
        padding: 7px;
        border-radius: 30px;
        width: 100px;
    }
    h5{
        color: rgb(0, 0, 0);background-color:#fffcfcd1 ;padding: 10px; margin: 10px;
    }
</style>
{% endblock %}



{% block calculator %}
<form action="result" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>Electricity Consumption</td>
            <td><input type="text" id="electricity_monthly" name="electricity_monthly"></td>
            <td>
                <select name="" id="electricity_monthly_unit">
                    <option value="kwh">kwh</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>Fule Consumption - Petrol</td>
            <td><input type="text" id="distance_petrol" name="distance_petrol"></td>
            <td>
                <select name="" id="distance_petrol_unit">
                    <option value="km">km</option>
                    <option value="miles">miles</option>
                </select>
            </td>
        </tr>

        <tr>
            <td>Fule Consumption - Diesel</td>
            <td><input type="text" id="distance_disel" name="distance_disel"></td>
            <td>
                <select name="" id="distance_disel_unit">
                    <option value="km">km</option>
                    <option value="miles">miles</option>
                </select>
            </td>
        </tr>

        <tr>
            <td> LPG Usage </td>
            <td><input type="text" id="lpg" name="lpg"></td>
            <td>
                <select name="" id="">
                    <option value="">Qty</option>
                    <option value="">KG</option>
                </select>
            </td>
        </tr>
        <tr>
            <h5 >{{error}}</h5>
        </tr>
    </table>

    <button onclick="store()" class="input" type="submit" value="Submit">Submit</button>
</form>
{% block result %}
<div class="result_main">
    <div class="result">
        Your Carbon Calculation : 0
    </div>
</div>


{% endblock %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var inputEmail = document.getElementById("electricity_monthly");
    document.getElementById('electricity_monthly').innerHTML = 123
    var val = inputEmail.value
    function store() {
        window.localStorage.setItem("aa", inputEmail.value);

        document.getElementById('electricity_monthly').innerHTML = "123"

    }
</script>

{% endblock %}