{% extends 'cc.html' %}
{% load static %}
{% block title %}Home{% endblock %}


{% block extra_head_extended %}
<style>
    td{
        padding: 10px 20px ;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: large;
    }
</style>
{% endblock %}



{% block calculator %}
<form action="cc_car" method="post">
    {% csrf_token %}
    <table>
    <tr>                      
        <td>Electricity Consumption Monthly</td>
        <td><input type="text" name="electricity_monthly"></td>
    </tr>

    <tr>
        <td>Yearly distance travelled using Petrol</td>
        <td><input type="text" name="distance_petrol"></td>
    </tr>

    <tr>
        <td>Yearly distance travelled Diesel</td>
        <td><input type="text" name="distance_disel"></td>
    </tr>

    <tr>
        <td>No of LPG used </td>
        <td><input type="text" name="lpg"></td>

    </tr>
</table>
    <input class="input" type="submit" value="Submit">
</form>

<div class="result_main">
    <div class="result">
        Your Carbon Calculation : 0
    </div>
</div>


{% endblock %}



