    {% extends 'cc.html' %}
    {% load static %}
{% block extra_head_extended %}
<style>
    td {
        padding: 5px 5px;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: large;
    }

    td input {
        width: 150px;
    }

    .input {
        padding: 7px;
        border-radius: 30px;
        width: 100px;
    }

    h5 {
        color: rgb(0, 0, 0);
        background-color: #fffcfcd1;
        padding: 10px;
        margin: 10px;
    }
</style>
{% endblock %}


{% block calculator %}
<form action="cc_industry_result" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-bs-toggle="list"
                    href="#list-home" role="tab" aria-controls="list-home">Administration</a>

                <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list"
                    href="#list-profile" role="tab" aria-controls="list-profile">Transport</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list"
                    href="#list-messages" role="tab" aria-controls="list-messages">Appliances</a>

            </div>
        </div>


        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">

                    {% csrf_token %}
                    <table>
                        <tr>
                            <td>How much amount of Electricity consumed every year in KW?</td>
                            <td><input type="text" id="electricity_monthly" name="Electricity_consumed"></td>
                            <td>
                                <select name="" id="electricity_monthly_unit">
                                    <option value="kwh">kwh</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>How much Waste Water consumed per liters/per year ?</td>
                            <td><input type="text" id="distance_petrol" name="distance_petrol"></td>
                            <td>
                                <select name="" id="distance_petrol_unit">
                                    <option value="km">km</option>
                                    <option value="miles">miles</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>Can you specify the amount of area allotted with Air Conditioner in Sq.ft?</td>
                            1<td><input type="text" id="distance_disel" name="distance_disel"></td>
                            <td>
                                <select name="" id="distance_disel_unit">
                                    <option value="km">Sq.ft</option>
                                    <!-- <option value="miles">miles</option> -->
                                </select>
                            </td>
                        </tr>

                        <!-- <tr>
                            <td> Can U specifiy the amount of area allotted with Air Condintioner in Sq.ft?</td>
                            <td><input type="text" id="lpg" name="lpg"></td>
                            <td>
                                <select name="" id="">
                                    <option value="">Qty</option>
                                    <option value="">KG</option>
                                </select>
                            </td>
                        </tr> -->

                    </table>

                </div>
                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    <table>
                        <!-- <tr>
                            <td>What is mode of Transport ?</td>
                            <td><input type="text" id="electricity_monthly" name="electricity_monthly"></td>
                            <td>
                                <select name="" id="electricity_monthly_unit">
                                    <option value="kwh">kwh</option>
                                </select>
                            </td>
                        </tr> -->

                        <tr>
                            <td>Bus : How much travel distance in Kms (average) per year?</td>
                            <td><input type="text" id="distance_petrol" name="distance_petrol"></td>
                            <td>
                                <select name="" id="distance_petrol_unit">
                                    <option value="km">km</option>
                                    <option value="miles">miles</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>Cab/Taxi : How much travel distance in Kms (average) per year?</td>
                            <td><input type="text" id="distance_disel" name="distance_disel"></td>
                            <td>
                                <select name="" id="distance_disel_unit">
                                    <option value="km">km</option>
                                    <option value="miles">miles</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>Bike(<125cc) : How much travel distance in Kms (average) per year?</td>
                            <td><input type="text" id="lpg" name="lpg"></td>
                            <td>
                                <select name="" id="">
                                    <option value="">Km</option>
                                    <option value="miles">miles</option>

                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Bike(>125cc & 500cc):How much travel distance in Kms (average) per year?</td>
                            <td><input type="text" id="lpg" name="lpg"></td>
                            <td>
                                <select name="" id="">
                                    <option value="">Km</option>
                                    <option value="miles">miles</option>
                                    
                                </select>
                            </td>
                        </tr>

                    </table>


                </div>
                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                    <table>
                        <tr>
                            <td>How many desktops in the company?</td>
                            <td><input type="text" id="electricity_monthly" name="electricity_monthly"></td>
                            <td>
                                <select name="" id="electricity_monthly_unit">
                                    <option value="kwh">Qty</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>How many smart phone in the Company?</td>
                            <td><input type="text" id="distance_petrol" name="distance_petrol"></td>
                            <td>
                                <select name="" id="distance_petrol_unit">
                                    <option value="km">Qty</option>
                                    <!-- <option value="miles">miles</option> -->
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td>How many prints are taken in a Year?</td>
                            <td><input type="text" id="distance_disel" name="distance_disel"></td>
                            <td>
                                <select name="" id="distance_disel_unit">
                                    <option value="km">Qty</option>
                                    <!-- <option value="miles">miles</option> -->
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td> How many laptops are there which are aged <=4 years?</td>
                            <td><input type="text" id="lpg" name="lpg"></td>
                            <td>
                                <select name="" id="">
                                    <option value="">Qty</option>
                                    <!-- <option value="">KG</option> -->
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td> How many hours you utilizes projector in a Year?</td>
                            <td><input type="text" id="lpg" name="lpg"></td>
                            <td>
                                <select name="" id="">
                                    <option value="">Hr</option> 
                                    <!-- <option value="">KG</option> -->
                                </select>
                            </td>
                        </tr>

                    </table>

                    <button onclick="store()" class="input" type="submit" value="Submit">Submit</button>


                </div>
            </div>
        </div>>
    </div>
</form>
<!-- 
     <button onclick="store()" class="input" type="submit" value="Submit">Submit</button>
</form> -->
{% endblock %}