{% extends 'base.html' %}
{% load static %}
{% block title %}Index{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<style>
    .container_main {
        background-image: url('{% static "images/Image2.png"%}');
        background-position: center;
        /* Center the image */
        background-repeat: no-repeat;
        /* Do not repeat the image */
        background-size: cover;
        width: 1200px;
        height: 700px;

    }
    .dd{
        padding-top:200px ;
        padding-left:f20px ;
        margin-left: 100px;
        background-color: rgba(255, 255, 255, 0.559);
        width: 400px;
        height: 800px;
        display: flex;
        flex-direction: column;
    }

    li{
        margin: 10px;
    }

    a {
        text-decoration: none;
        color: black;
        font-size: 20px;
    }

    a:hover {
        font-size: 22px;
        color: rgb(0, 153, 255);

    }

    li {
        list-style-type: none;
    }
</style>
{% endblock %}




{% block body %}
<div class="container_main">
    <div class="links">
        <div class="dd">
            <li>
                <a href="{% url 'cc' %}"> <h4>Carbon Calculator</h4></a>
            </li>
            <li>
                <a href="{% url 'trend' %}"> <h4>Carbon Emission Trend Analysis</h4> </a>
            </li>
            <li>
                <a href=""> <h4>Prediction of CO2 Emission</h4> </a>
            </li>

        </div>

    </div>

</div>


{% endblock %}



{% block scripts %}
{% endblock %}