{% extends 'base.html' %}
{% load static %}



{% block title %}Carboncalculator{% endblock %}
{% block extra_head %}
<style>
    .inputs,
    .chart,
    .chart ,.heading{
        display: flex;
        justify-content: center;
    }

    .inputs h6 {
        padding: 0px 10px;
    }

    .background {
        background-color: rgb(205, 230, 252);
    }

    .inputs {
        padding: 20px 0px;
        background-color: rgb(122, 187, 122);
    }

    .buttion_submit {
        padding: 1px 3px;
        margin-left: 20px;
        font-size: 15px;
    }

    .chart {
        padding: 20px 0px;
        margin: 0px 100px;
        background-color: rgb(194, 231, 195)
    }
</style>


{% block extra_head_extended %}
{% endblock %}

{% endblock %}

{% block body %}
<div class="background">


    <div class="inputs">
        <form action="" method="post">
            {% csrf_token %}
            <label>
                <h6>Region : </h6>
            </label>
            <select name="region">
                <option value="AUS">AUS</option>    
                {% for i in region %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
                
            </select>
            <label>
                <h6>Country : </h6>
            </label>
            <select name="country">
                <option value="Australia">Australia</option>
                {% for i in country %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
                
            </select>
            <label>
                <h6>Pollutants : </h6>
            </label>
            <select name="pollutants">
                <option value="Carbon dioxide">Carbon dioxide</option>
                {% for i in pollutant %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
                
                
            </select>
            <form action="forcasted_trend"><button class="buttion_submit" type="submit">Show Results</button></form>
            
        </form>
    </div>
    <div class="chart">
        <div class="trend_chart">
            <div class="heading">
                <h3>Co2 Emission</h3>
            </div>
            
            <canvas id="trend" width="700px" height="350px"></canvas>
        </div>

    </div>


</div>
{% endblock %}

{% block scripts %}
<script>var ctx = document.getElementById('trend').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: [{% for i in year %}  '{{ i }}',  {% endfor %},{% for i in forcasted_year %}  '{{ i }}',  {% endfor %}],
    datasets: [{
      label: 'Actual ',
      data: [{% for i in co2 %}  {{ i }}, {% endfor %}],
      backgroundColor: 'rgba(54, 162, 235, 0.8)',
      borderColor: 'rgba(54, 162, 235, 0.8)',
          tenssion: 0.4
            },
            {
      label: 'Forcasted',
      data: [{% for i in co2 %}  {{ i }}, {% endfor %},{% for i in forcasted_co2 %}  {{ i }}, {% endfor %}],
      backgroundColor: 'rgba(255, 99, 132, 0.8)',
      borderColor: 'rgba(555, 99, 132, 1)',
          tenssion: 0.4
            }]
        },
    options: {
      scales: {
        x: {
          beginAtZero: true,
          title:{
            display:true,
            text: 'Year'
          }
        },
        y: {
          beginAtZero: true,
          title:{
            display:true,
            text: 'Co2 Emission'
          }
        }
      }
    }
    });
</script>
{% endblock %}